mainmenu "RT-Thread Project Configuration"

config BUILD_DIR
    string
    option env="BUILD_ROOT"
    default "../../build"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../rtos/rt-thread/5.0.x"

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

source "$BUILD_DIR/Kconfig"

menu "RTOS Configuration"
source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"
endmenu

menu "MCU Configuration"
source "$BSP_DIR/drivers/Kconfig"
endmenu
